    <!-- Page Header Start -->
    <div class="container-fluid p-5 mt-0 mt-lg-5">
      <div class="row">
          <div class="col-12 text-center">
              <!-- <h1 class="display-4 text-uppercase font-secondary contact mx-auto pb-3">Contact Us</h1> -->
              <h1 class="fs-1 text-center" style="color: darkcyan;">CONTACT US</h1>
            </div>
      </div>
  </div>
  <!-- Page Header End -->


<!-- Contact Start -->
    <div class="container-fluid contact position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
              <form (submit)="sendMessage()">
                  <div class="row g-3">
                      <div class="col-sm-6">
                          <input [(ngModel)]="mess.user_name" name="user_name" type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;">
                      </div>
                      <div class="col-sm-6">
                          <input [(ngModel)]="mess.email" name="email" type="email" class="form-control bg-light border-0 px-4" placeholder="Your Email" style="height: 55px;">
                      </div>
                      <div class="col-sm-12">
                          <textarea [(ngModel)]="mess.comment" name="comment" class="form-control bg-light border-0 px-4 py-3" rows="4" placeholder="Message"></textarea>
                      </div>
                      <div class="col-sm-12">
                          <button class="btn but border-inner w-100 py-3" type="submit">Send Message</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>

          <section class="cards mb-5 mt-5" id="Services">
            <!-- Start Content -->
            <div class="content">
                <div class="card col-lg-4 col-md-6"> <!-- Start card 1 -->
                    <div class="icon">
                      <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="info">
                        <h3>Email Us</h3>
                        <p>life_market@gmail.com</p>
                    </div>
                </div> <!-- End card 1 -->
                <div class="card col-lg-4 col-md-6"> <!-- Start card 2 -->
                    <div class="icon">
                      <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="info">
                        <h3>Call Us</h3>
                        <p> +20100345312 </p>
                    </div>
                </div> <!-- End card 2 -->
                <div class="card col-lg-4 col-md-6"> <!-- Start card 3 -->
                    <div class="icon">
                      <i class="fa-solid fa-building-ngo"></i>
                    </div>
                    <div class="info">
                        <h3>Our Office</h3>
                        <p> 78 New Maadi,Cairo, Egypt</p>
                    </div>
                </div> <!-- End card 3 -->
            </div> <!-- End Content -->
        </section> <!-- End Services -->

      </div>
  </div>
  <!-- Contact End -->
