<div class="container mt-3 mb-5 p-0">

    <div class="row py-5">
        <div class="col-5 p-5">
            <h3 class="p-1 px-5 mt-4">Not Found</h3>
            <h6 class="p-1 px-5">We couldn’t find the page you are looking for</h6>
            <p class="p-1 px-5" style="font-size: 14px;">But we have millions more shopping items for you to browse!</p>
            <button class="btn btn-warning bg-c1 shadow text-light fw-bold ms-5 p-2 px-4">GO TO HOMEPAGE</button>
        </div>
        <div class="col-7 ps-5">
            <img src="../../../assets/people.9416a3fb.svg" class="mx-5" width="450" alt="">
        </div>
    </div>

</div>