<button [routerLink]="['/create-category']"
>Create Category</button>


<div class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="h5 ">Name</th>
      <th class="h5">Description</th>
      <th class="h5">photo</th>
      <th class="h5"> Edit</th>
      <th class="h5">Delete </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of Allcategories">
      <td>{{category.name}}</td>
      <td>{{category.description}}</td>
      <td><img [src]="'../../../assets/'+category.photo" style="width:100px;"></td>
      <td><button class="btn btn-primary m-2" [routerLink]="['/update-category',category.id]" >Update</button></td>
        <td>  <button class="btn btn-primary m-2" (click)="deleteCat(category.id)"> Delete</button></td>
    </tr>

  </tbody>
</table>
</div>
