<div class="signup-form  row p-3">
    <form #myform="ngForm" (ngSubmit)="CreateAdress()">
        <h6 class="mt-3">ADD YOUR ADDRESS</h6>
        <hr>
        <div class="row mb-3 mt-4">
            <div class="col">
                <!-- <input type="text" [(ngModel)]="address.governorate" class="form-control" name="governorate"
                    placeholder="Governorate" required="required"> -->
                    <select [(ngModel)]="address.governorate" placeholder="Governorate" class="form-select" name="governorate" required="required">
                        <option *ngFor="let i of governorate" value="{{i.governorate}}">{{i.governorate}}</option>
                    </select>
            </div>

            <div class="col"><input type="text" [(ngModel)]="address.zip_code" class="form-control" name="zip_code"
                    placeholder="Zip_code" required="required"></div>
        </div>
        <div class="form-group mb-3">
            <input type="text" class="form-control" name="city" [(ngModel)]="address.city" placeholder="City"
                required="required">
        </div>

        <div class="form-group mb-3">
            <input type="text" class="form-control" placeholder="Street" [(ngModel)]="address.street" name="street"
                required="required">
        </div>
        <button type="submit" [disabled]="!myform.valid" class="btn  btn-success bg-c1 w-100 fs-5">Save Address</button>

    </form>
</div>