<section class="vh-100 ">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6 d-none d-sm-block">
          <img src="../../../assets/images/5464026.jpg" class="img-fluid" alt="site image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
  
          <div class="signup-form  ">
            <form #myform="ngForm" (ngSubmit)="submitForm()">
              <h5 class="mb-4">Reset Password</h5>
               <p>Kindly enter your email address below and a link to send,this will be sent to this email.</p>
              <div class="form-group">
                <input type="email" class="form-control" [(ngModel)]="email"
                  name="email" placeholder="Email" required>
              </div>
  
              <div class="form-group mt-3">
                <button type="submit" [disabled]="!myform.valid" class="btn btn-info btn-lg btn-block">Send</button>
              </div>
            </form>
  
  
          </div>
        </div>
      </div>
    </div>
  </section>
  