<section class="vh-100 ">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6 d-none d-sm-block">
        <img src="../../../assets/images/5464026.jpg" class="img-fluid" alt="site image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 mt-0">

        <div class="signup-form  pt-0">


          <form #myform="ngForm" autocomplete="off" (ngSubmit)="createUser()">
            <h2 class="mb-3">SIGN UP</h2>
            <p class="hint-text mb-4">Create your account. It's free and only takes a minute.</p>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <input #first_name="ngModel" type="text" [(ngModel)]="user.first_name"
                    class="form-control py-3" name="first_name" placeholder="First Name" required="required"
                    pattern="^[\u0621-\u064AA-Za-z]+([ ][\u0621-\u064AA-Za-z]+)*$"></div>
                <div [hidden]="first_name.valid || first_name.pristine" class="text-danger">
                  <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!first_name.errors?.['required']">First
                    Name Is Required</p>
                  <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!first_name.errors?.['pattern']">
                    Invalid First Name</p>
                </div>
                <div class="col"><input #last_name="ngModel" type="text" [(ngModel)]="user.last_name"
                    class="form-control py-3" name="last_name" placeholder="Last Name" required="required"
                    pattern="^[\u0621-\u064AA-Za-z]+([ ][\u0621-\u064AA-Za-z]+)*$"></div>
              </div>
              <div [hidden]="last_name.valid || last_name.pristine" class="text-danger">
                <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!last_name.errors?.['required']">Last
                  Name Is Required</p>
                <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!last_name.errors?.['pattern']">Invalid
                  Last Name</p>
              </div>
            </div>
            <div class="form-group">
              <input type="email" [(ngModel)]="user.email" #email="ngModel" class="form-control py-3" name="email"
                placeholder="Email" required="required"
                pattern="^[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*@[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*$">
              <div [hidden]="email.valid || email.pristine" class="text-danger">
                <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!email.errors?.['required']">Please,
                  Enter Your Email</p>
                <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!email.errors?.['pattern']">Invalid Email
                </p>
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control py-3" #phone="ngModel" [(ngModel)]="user.phone" name="Phone"
                placeholder="Phone Number" required="required" pattern="^01[0-2,5]{1}[0-9]{8}$">
              <div [hidden]="phone.valid || phone.pristine" class="text-danger">
                <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!phone.errors?.['required']"> Phone Is
                  Required</p>
                <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!phone.errors?.['pattern']">Invalid Phone
                  Number</p>
              </div>
            </div>

            <div class="form-group">
              <input type="password" #password="ngModel" class="form-control py-3" [(ngModel)]="user.password"
                name="password" placeholder="Password" required="required" title="
                  please password should be At least 8 characters long,
                  at least one uppercase letter,
                  Contains at least one lowercase letter,
                  and Contains at least one number" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}">
                  <div [hidden]="password.valid || password.pristine" class="text-danger">
                    <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!password.errors?.['required']"> Password
                      Is Required</p>
                    <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!password.errors?.['pattern']">Invalid
                      Password</p>
                  </div>
                </div>
            
            <div class="form-group">
              <input type="password" #password_confirmation="ngModel" class="form-control py-3" name="password_confirmation"
                [(ngModel)]="user.password_confirmation" placeholder="Confirm Password" required="required">
              <div [hidden]="password_confirmation.valid || password_confirmation.pristine" class="text-danger">
                <p class="text-danger ps-1" style="font-size: 14px;"
                  [hidden]="!password_confirmation.errors?.['required']"> Password Is Required</p>
              </div>
              <div *ngIf="password_confirmation.value!=password.value">
                <p class="text-danger ps-1" style="font-size: 14px;">Password Not Matched</p>
              </div>

            </div>
            
             
           
            <!-- <div class="form-group"> -->
              <!-- <select name="type"
                      [(ngModel)]="user.type"
                      #type="ngModel"
                      class=" form-select form-control form-control-sm d-none" aria-label="Default select example">
                <option value="user">User</option> -->
                <!-- <option value="Seller">Seller</option> -->
              <!-- </select> -->
              <!-- <input [(ngModel)]="user.type" #type="ngModel" type="text" class="form-control d-none" name="type"
                value="user"> -->
            <!-- </div> -->

            <div class="form-group">
              <button type="submit" [disabled]="!myform.valid" class="btn btn-info btn-lg btn-block">Register
                Now</button>
            </div>
          </form>

          <div class="text-center ">Already have an account? <a href="../login//login.component.html">Sign In</a></div>
          <div class="text-center ">Go Back To <a [routerLink]="['/main/home']">Home</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>