<section class="h-100 gradient-custom">
  
  <div *ngIf="products.length>0" class="container">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Cart - ({{ products.length }}) items</h5>
          </div>
          <div class="card-body">

            <div *ngFor="let pro of products; index as n" class="card border-0 px-3">
              <div class="row">
                <div class="col-3 px-3">
                  <img [src]="'../../../assets/'+pro.photo" width="100" alt="">
                </div>
                <div class="col-6">
                  <h5 class="mt-3">{{pro.name}}</h5>
                  <p>{{pro.description}}</p>
                </div>
                <div class="col-3 py-auto">
                  <h5 class="mt-3 my-auto me-2 text-end">EGP {{pro.price}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-6 col-lg-9 mt-2">
                  <a (click)="deleteCart(pro.id)" class="mx-3" style="color: darkcyan;"><i
                      class="fa-solid fa-trash"></i> REMOVE</a>
                </div>
                <div class="col-6 col-lg-3 px-3">
                  <div class="input-group">
                    <button (click)="decrementPrd(pro.prd_id)" class="btn btn-success"
                      style="background-color: darkcyan;" type="button"><i class="fa-solid fa-minus"></i></button>
                    <input type="text" readonly value="{{pro.quantity}}" class="form-control text-center" placeholder=""
                      aria-label="Example text with two button addons">
                    <button (click)="incrementPrd(pro.prd_id)" class="btn btn-success"
                      style="background-color: darkcyan;" type="button"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
              <hr *ngIf="products.length-1 > n">
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <p><strong>Expected shipping delivery</strong></p>
            <p class="mb-0">12.10.2020 - 14.10.2020</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between px-2 my-2">
              <h4>Total</h4>
              <h4>EGP {{totalPrice}}</h4>
            </div>
            <button type="button" class="btn but btn-lg btn-block btn-outline-primary" [routerLink]="['check']">
              Go To Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="products.length<1" class="row my-5">
    <div class="d-flex justify-content-center">
      <img src="../../../assets/empty.png" width="150" alt="">
    </div>
    <h5 class="text-center mt-2 mb-4">There are no products found in cart...</h5>
    <div class="d-flex justify-content-center">
      <a [routerLink]="['/main/home']" class="btn btn-primary mt-3 px-3" style="background-color: darkcyan;">Go
        Back To Home
      </a>
    </div>
  </div>

</section>