<div class="container mt-5 mb-5">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="main_image">
            <img 
              src="https://i.imgur.com/TAzli1U.jpg"
              id="main_product_image"
              width="350"
            />
          </div>
          <div class="thumbnail_images">
            <ul id="thumbnail">
              <li>
                <img
                  onclick="changeImage(this)"
                  src="https://i.imgur.com/TAzli1U.jpg"
                  width="70"
                />
              </li>
              <li>
                <img
                  onclick="changeImage(this)"
                  src="https://i.imgur.com/w6kEctd.jpg"
                  width="70"
                />
              </li>
              <li>
                <img
                  onclick="changeImage(this)"
                  src="https://i.imgur.com/L7hFD8X.jpg"
                  width="70"
                />
              </li>
              <li>
                <img
                  onclick="changeImage(this)"
                  src="https://i.imgur.com/6ZufmNS.jpg"
                  width="70"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 right-side">
          <div class="d-flex justify-content-between align-items-center">
            <h3>IIlana</h3>
          </div>
          <div class="mt-2 pr-3 content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p>
          </div>
          <h3>$430.99</h3>
          <div class="ratings d-flex flex-row align-items-center">
            <div class="d-flex flex-row">
              <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <span>441 reviews</span>
          </div>

          <div class="buttons d-flex flex-row mt-5 gap-3">
            <button class="btn btn-primary buy ">Buy Now</button>
            <button class="btn btn-primary bg text-white ">Add to Cart</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<section style="background-color: #f7f6f6;">
  <div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h4 class="text-dark mb-0">comments (2)</h4>
          <div class="card">
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-start">
              <div class="w-100">
                <h3>V.good</h3>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="text-primary fw-bold mb-0 text-dark ms-2">
                    Hmm, This poster looks cool
                  </p>
                  <p class="mb-0">2 days ago</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-row">
                    <i class="fa-solid fa-star me-2"></i>
                    <i class="fa-solid fa-star me-2"></i>
                    <i class="fa-solid fa-star me-2"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-start">
              <div class="w-100">
                <h3>V.good</h3>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="text-primary fw-bold mb-0 text-dark ms-2">
                    Hmm, This poster looks cool
                  </p>
                  <p class="mb-0">2 days ago</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-row">
                    <i class="fa-solid fa-star me-2"></i>
                    <i class="fa-solid fa-star me-2"></i>
                    <i class="fa-solid fa-star me-2"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function changeImage(element) {
  var main_prodcut_image = document.getElementById('main_product_image');
  main_prodcut_image.src = element.src;
}

</script>
