<div class="container mt-4 mb-4 px-0">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="main_image">
            <!-- <p *ngFor="let i of prd">{{}}</p> -->
            <img *ngFor="let i of prd" [src]="'../../../assets/'+photo" id="main_product_image" width="350" />
          </div>
          <div class="thumbnail_images">
            <ul class="px-0" id="thumbnail">
              <li>
                <img *ngFor="let i of prd" (click)="changeImage(i.photo)" [src]="'../../../assets/'+i.photo" width="70" />
              </li>
              <li *ngFor="let i of prdPhoto">
                <img (click)="changeImage(i.path)" [src]="'../../../assets/'+i.path" width="70" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <pre>{{ prd | json }}</pre> -->
      <div class="col-md-6">
        <div *ngFor="let i of prd" class="p-5 right-side">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="mt-1 mt-lg-5">{{prd[0].name}}</h3>
          </div>
          <div class="mt-2 pr-3 content">
            <p>{{prd[0].description}}</p>
          </div>
          <h3>EGP {{prd[0].price}}</h3>
          <p *ngIf="prd[0].price_before_discount>0" class="text-muted text-decoration-line-through">EGP
            {{prd[0].price_before_discount}}</p>
          <div class="ratings d-flex flex-row align-items-center">
            <div class="d-flex flex-row">
              <ng-container *ngFor="let index of [1,2,3,4,5],index as n">
                <i *ngIf="prd[0].prd_rating>n" class="fa-solid fa-star"></i>
                <i *ngIf="prd[0].prd_rating<=n" class="fa-regular fa-star"></i>
              </ng-container>
            </div>
          </div>

          <div class="buttons d-flex flex-row mt-5 gap-3">
            <button (click)="addPrdToCart()" class="btn btn-primary bg px-4">Add To Cart</button>
            <button [routerLink]="['/main/home']" class="btn btn-secondary text-white px-4">Go Back</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container my-lg-5 py-4 text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h4 class="text-dark mb-0">Comments ({{prdRating.length}})</h4>
          <div class="card">
          </div>
        </div>

        <div *ngFor="let i of prdRating" class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-start">
              <div class="w-100">
                <h4>{{i.review}}</h4>
                <p>{{i.created_at | date}}</p>
                <div class="d-flex justify-content-between align-items-center mb-3">
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-row">
                    <ng-container *ngFor="let index of [1,2,3,4,5],index as n">
                      <i *ngIf="i.star>n" class="fa-solid fa-star"></i>
                      <i *ngIf="i.star<=n" class="fa-regular fa-star"></i>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function changeImage(element) {
    var main_prodcut_image = document.getElementById('main_product_image');
    main_prodcut_image.src = element.src;
  }

</script>