<div class="container my-4">
  <div class="mb-5 text-center">
    <div class="row">
      <div class="col-8">
        <div class=" card p-3">
          <h4 class="d-flex justify-content-between align-items-center mt-3 mb-3">
            <span class="text-muted">YOUR ORDER ({{products.length}} items)</span>
            <!-- <span class="badge badge-secondary badge-pill"> {{products.length}} </span> -->
          </h4>
          <!-- Cart Details -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>
                  <div style="height: 70px;">
                    <img [src]="'http://localhost:8000/storage/images/products/'+product.photo" class="mb-2" style="aspect-ratio: 1;  object-fit: contain;" width="70px" height="70px">
                  </div>
                </td>
                <td>
                  <p class="my-auto mt-3">
                    {{product.name}} 
                  </p>
                </td>
                <td>
                  <p class="my-auto mt-3">
                    {{product.quantity }}
                  </p>
                </td>
                <td>
                  <p class="my-auto mt-3">
                    {{product.price }}
                  </p>
                </td>
                <td>
                  <p class="my-auto mt-3">
                    EGP {{product.price * product.quantity}}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <div>
                    Total amount
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <span>EGP {{ totalFun() }}</span>
                </td>
              </tr>
              <tr>
                <td>Delivery Fee</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  EGP {{ selectedPrice }}
                </td>
              </tr>
              <tr>
                <td>
                  <div>
                    <strong>Total amount</strong>
                    <strong>
                      <p class="mb-0">(After Delivery)</p>
                    </strong>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td><span><strong>EGP {{ totalFun() + selectedPrice }}</strong></span></td>
              </tr>
            </tbody>
          </table>
          <h5 *ngIf="!show">Expected Time: {{ displayDate | date}}</h5>
          <hr class="mb-8">
          <button (click)="post()" class="btn button btn-primary btn-lg btn-block" type="submit" [disabled]="show">
            Continue to checkout
          </button>
        </div>
      </div>
      <div class="card p-3 text-center col-4">
        <div *ngIf="hide">
          <h4>Delivery Address</h4>
          <div class="p-3 card-2">
            <!-- Street -->
            <div class="p-3 card-child">
              <div class="d-flex flex-row align-items-center">
                <span class="circle">
                  <i class="fa fa-home"></i>
                </span>
                <div class="d-flex flex-column ms-3">
                  <span class="fw-bold ads">Street</span>
                  <span class="ads">{{ads.street}}</span>
                </div>
              </div>
            </div>
            <!-- City -->
            <div class="p-3 card-child mt-4">
              <div class="d-flex flex-row align-items-center">
                <span class="circle-2">
                  <i class="fa-solid fa-city"></i>
                </span>
                <div class="d-flex flex-column ms-3">
                  <span class="fw-bold ads">City</span>
                  <span class="ads">{{ads.city}}</span>
                </div>
              </div>
            </div>
            <!-- Zip Code -->
            <div class="p-3 card-child mt-4">
              <div class="d-flex flex-row align-items-center">
                <span class="circle-2">
                  <img src="https://img.icons8.com/stickers/100/null/zip-code.png" width="40px" height="40px" />
                </span>
                <div class="d-flex flex-column ms-3">
                  <span class="fw-bold ads">Zip Code</span>
                  <span class="ads">{{ads.zip_code}}</span>
                </div>
              </div>
            </div>
            <!-- Governorate -->
            <div class="p-3 card-child mt-4">
              <div class="d-flex flex-row align-items-center">
                <span class="circle-2">
                  <i class="fa fa-bank"></i>
                </span>
                <div class="d-flex flex-column ms-3">
                  <span class="fw-bold ads">Governorate</span>
                  <span class="ads">{{ads.governorate}}</span>
                </div>
              </div>
            </div>
            <!-- Update Address -->
            <div class="p-3  mt-4 py-4">
              <div class="d-flex flex-row align-items-center">
                <div class="d-flex flex-column ms-3 mt-1">
                  <button class="btn btn-success button" routerLink="/main/profile/updateaddress"
                    routerLinkActive="active">CHANGE DEFAULT ADDRESS</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Address -->
        <div *ngIf="show">
          <div class="p-3  mt-4 py-4">
            <p>No default address found.</p>
            <button routerLink="/main/profile/address" routerLinkActive="active"
              class="btn button btn-primary btn-block">ADD DEFAULT ADDRESS</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>