
<section class="container-fluid">
    <div class="row mb-3">
        <div class="col-9 col-lg-10">
            <select [(ngModel)]="selectedStatus" class="form-select w-100">
                <option value="">All</option>
                <option value="processing">Processing</option>                
                <option value="ondelivery">On Delivery</option>
                <option value="done">Done</option>
                <option value="pending">Pending</option>
                <option value="cancelled">Cancelled</option>
            </select>
        </div>
        <div class="col-3 col-lg-2 ">
            <button class="btn btn-primary float-end w-100" (click)="applyFilter()">Apply Filter</button>
        </div>
    </div>
    <table class="w-100 mt-3 table table-bordered table-hover table-striped text-center">
        <thead>
            <tr style="text-transform:capitalize;color: #1f8291d4; " class="bg-white ">
                <th>No</th>
                <th>Create Date</th>
                <th>Name</th>
                <th>Email</th>
                <th>Total</th>
                <th>Status</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let o of filteredOrders">
                <td>{{o.index}}</td>
                <td>{{o.created_at|date}}</td>
                <td>{{ o.first_name }} {{o.last_name}}</td>
                <td>{{o.email}}</td>
                <td>{{o.total}}</td>
                <td>
                    <form [formGroup]="orderForm">

                        <select (change)="updateOrder(orderForm.value, o.id)" formControlName="status"
                            class="form-control" id="">
                            <option [selected]="o.status=='processing'" value="processing">
                                Processing
                            </option>
                            <option [selected]="o.status=='ondelivery'" value="ondelivery ">
                                On Delivery
                            </option>
                            <option [selected]="o.status=='done'" value="done">
                                Done
                            </option>
                            <option [selected]="o.status=='pending'" value="pending">
                                Pending
                            </option>
                            <option [selected]="o.status=='cancelled'" value="cancelled">
                                Cancelled
                            </option>
                        </select>
                    </form>
                </td>
                <td><a class="btn btn-outline-info" (click)="showOrderDetails(o.id)">
                        Order Details
                    </a></td>
            </tr>
        </tbody>
    </table>
</section>