<div class="container-fluid px-2">
  <h3>Update Customer Info</h3>
<form  #myForm="ngForm" autocomplete="off" (ngSubmit)="update()">
  <div class="form-group mb-1">
    <label for="exampleInputFirstName">First Name</label>
    <input #customerfirstName="ngModel" [(ngModel)]="backupCustomer.first_name" required
    pattern="^[a-zA-Z]{3,15}$"
    type="text"
        class="form-control" id="exampleInputFirstName" name="customerfirstName"
        >

    <div [hidden]="customerfirstName.valid || customerfirstName.pristine" class="text-danger">
        <p [hidden]="!customerfirstName.errors?.['required']">Customer First Name Required</p>
        <p [hidden]="!customerfirstName.errors?.['pattern']">Invalid First customer Name</p>
    </div>
</div>
<div class="form-group mb-1">
    <label for="exampleInputLastName">Last Name</label>
    <input #lastName="ngModel" [(ngModel)]="backupCustomer.last_name" required
    pattern="^[a-zA-Z]{3,15}$"
    type="text"
        class="form-control" id="exampleInputLastName" name="lastName"
        >

    <div [hidden]="lastName.valid || lastName.pristine" class="text-danger">
        <p [hidden]="!lastName.errors?.['required']">customer Last Name Required</p>
        <p [hidden]="!lastName.errors?.['pattern']">Invalid Last customer Name</p>
    </div>
</div>

  <div class="form-group mb-1">
    <label for="description">E-Mail</label>
    <input class="form-control" id="description" name="email" required [(ngModel)]="backupCustomer.email">
  </div>
  <!-- <div class="form-group mb-1">
    <label for="description">Password</label>
    <input type="password" class="form-control" id="description" name="password" required [(ngModel)]="backupCustomer.password">
  </div> -->
  <div class="form-group mb-1">
    <label for="description">Phone</label>
    <input type="Phone" class="form-control" id="description" name="Phone" required [(ngModel)]="backupCustomer.phone">
  </div>

  <button type="submit" [disabled]="!myForm.valid"  class="btn btn-primary px-4 mt-3 me-3">Update</button>
  <input type="button" class="btn btn-secondary px-4 mt-3" value="Back" (click)="goBack()">

</form>
</div>

