<div class="row pt-3 ">
    <div class="col-12">
        <h5>Previous Orders</h5>
        <hr>
    </div>
</div>
<div class="mx-1 mx-lg-3">
    <ng-container *ngFor="let i of prd; index as n">
        <div *ngIf="i.status=='done'" class="card px-0 mb-3">
            <div class="row mt-2">
                <div class="col-3 col-lg-2">
                    <img [src]="'../../../assets/'+i.product_photo" width="100" class="ps-2 ps-lg-4 " alt="...">
                </div>
                <div class="col-6 col-lg-8">
                    <h6 class="mt-2"> {{i.product_name}}</h6>
                    <p style="color:gray">{{i.product_description}}</p>
                </div>
                <div class="col-3 col-lg-2 px-0">
                    <h6 class="mt-2">EGP {{i.product_price}}</h6>
                    <p style="color:gray">Qnt: {{i.quantity}}</p>
                </div>


            </div>
            <div class="row mt-0">
                <div class="col-12 px-4 p-1 m-0">
                    <button (click)="rateProduct(i.product_id)" class="btn p-0 text-success"
                        style="font-size: 12px;">Add Rating To Product</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<!-- <form>
    <div class="mb-3">
        <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></textarea>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn fs-5 m-0 p-0"><i class="fa-solid fa-star"></i></button>
        <button type="submit" class="btn fs-5 m-0 p-0"><i class="fa-solid fa-star"></i></button>
        <button type="submit" class="btn fs-5 m-0 p-0"><i class="fa-solid fa-star"></i></button>
        <button type="submit" class="btn fs-5 m-0 p-0"><i class="fa-solid fa-star"></i></button>
        <button type="submit" class="btn fs-5 m-0 p-0"><i class="fa-solid fa-star"></i></button>
    </div>

</form> -->