<div class="container mt-0 mb-5 p-0 px-0">



  <!-- carousel slide -->
  <div class="row mb-0 home_slid" id="top">
    <div class="col-12 px-0 ">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner h-100">
          <div class="carousel-item active">
            <img src="../assets/bg2-img.png" class="d-block w-100" alt="...">
          </div>
          <button class="carousel-control-prev visually-hidden" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next visually-hidden" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>



  <!-- categories list -->
  <div *ngIf="cat.length>0" class="card px-2">
    <div class="row card-body">
      <div *ngFor="let i of cat" class="col-4 col-lg-2 px-1">
        <div class="mt-2 p-1">
          <a (click)="goToPrdList('cat',i.id)" class="text-decoration-none w-100">
            <img [src]="'http://localhost:8000/storage/images/categories/'+i.photo" class="w-100 rounded" alt="">
            <p class="card-title text-center text-decoration-none text-dark">{{i.name}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>





  <!-- top products selling list -->
  <div *ngIf="topSellingProducts.length>5" class="row mt-3">
    <div class="card p-0 ">
      <div class="card-header list-group-item-warning text-dark d-flex justify-content-between">
        <h5 class="text-center mt-1">Top Selling</h5>
        <a (click)="goToPrdList('topSelling','1')" class="p-1">SEE MORE</a>
      </div>
      <div class="row  px-3 pb-4">
        <div *ngFor="let i of topSelling" class="col-lg-2 col-6 px-0 mt-2">
          <a (click)="goToPrdDetails(i.id)" class="text-muted text-decoration-none">
            <div class="card shadow m-2 bg-body rounded h-100 p-1">
              <div style="height: 170px;">
              <img [src]="'http://localhost:8000/storage/images/products/'+i.photo" style="aspect-ratio: 1;  object-fit: contain;" class="card-img-top p-3 h-100"  alt="...">
              </div>
              <hr class="m-0 mb-2">
              <p class="card-title mx-2 text-decoration-none text-dark">{{i.name}}</p>
              <div *ngIf="i.prd_rating>0" class="ratings d-flex flex-row align-items-center px-2 mb-1">
                <div class="d-flex flex-row" style="font-size: 12px;color: rgb(216, 178, 11);">
                  <ng-container *ngFor="let index of [1,2,3,4,5],index as n">
                    <i *ngIf="i.prd_rating>n" class="fa-solid fa-star"></i>
                    <i *ngIf="i.prd_rating<=n" class="fa-regular fa-star"></i>
                  </ng-container>
                </div>
              </div>
              <h6 class="mx-2 mb-0 text-dark text-decoration-none">EGP {{i.price}}</h6>
              <p *ngIf="i.price_before_discount>0" class="mx-2 mb-0 text-muted text-decoration-line-through">EGP
                {{i.price_before_discount}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>







  <!-- Special Deals offers -->
  <div *ngIf="dealsOffer.length>0" class="row mt-3">
    <div class="card p-0 ">
      <div class="card-header list-group-item-warning text-dark">
        <h5 class="text-center mt-1">Special Deals</h5>
      </div>
      <div class="card-body px-3 pb-2 pt-0">
        <div class="row">
          <div *ngFor="let i of dealsOffer" class="col-sm-12 col-lg-6 px-1">
            <div class="mt-2">
              <a (click)="goToPrdList('dealsOffer',i.id)">
                <img [src]="'http://localhost:8000/storage/images/offers/'+i.photo" class="w-100 rounded" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- top products rating list -->
  <div *ngIf="topRatingProducts.length>5" class="row mt-3">
    <div class="card p-0 ">
      <div class="card-header list-group-item-warning text-dark d-flex justify-content-between">
        <h5 class="text-center mt-1">Top Rating</h5>
        <a (click)="goToPrdList('topRating','1')" class="p-1">SEE MORE</a>
      </div>
      <div class="row  px-3 pb-4">
        <div *ngFor="let i of topRating" class="col-lg-2 col-6 px-0 mt-2">
          <a (click)="goToPrdDetails(i.id)" class="text-muted text-decoration-none">
            <div class="card shadow m-2 bg-body rounded h-100 p-1">
              <div style="height: 170px;">
                <img [src]="'http://localhost:8000/storage/images/products/'+i.photo" style="aspect-ratio: 1;  object-fit: contain;" class="card-img-top p-3 h-100"  alt="...">
                </div>
              <hr class="m-0 mb-2">
              <p class="card-title mx-2 text-decoration-none text-dark">{{i.name}}</p>
              <div *ngIf="i.prd_rating>0" class="ratings d-flex flex-row align-items-center px-2 mb-1">
                <div class="d-flex flex-row" style="font-size: 12px;color: rgb(216, 178, 11);">
                  <ng-container *ngFor="let index of [1,2,3,4,5],index as n">
                    <i *ngIf="i.prd_rating>n" class="fa-solid fa-star"></i>
                    <i *ngIf="i.prd_rating<=n" class="fa-regular fa-star"></i>
                  </ng-container>
                </div>
              </div>
              <h6 class="mx-2 mb-0 text-dark text-decoration-none">EGP {{i.price}}</h6>
              <p *ngIf="i.price_before_discount>0" class="mx-2 mb-0 text-muted text-decoration-line-through">EGP
                {{i.price_before_discount}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>



  <!-- Special Gifts offers -->
  <div *ngIf="giftsOffer.length>0" class="row mt-3">
    <div class="card p-0 ">
      <div class="card-header list-group-item-warning text-dark">
        <h5 class="text-center mt-1">Special Gifts</h5>
      </div>
      <div class="card-body px-3 pb-2 pt-0">
        <div class="row">
          <div *ngFor="let i of giftsOffer" class="col-6 col-lg-3 px-1">
            <div class="mt-2">
              <a (click)="goToPrdList('giftsOffer',i.id)">
                <img [src]="'http://localhost:8000/storage/images/offers/'+i.photo" class="w-100" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!---------- DAILY SURPRISES list ---------->
  <div *ngIf="dailyOffer.length>0" class="row mt-3">
    <div class="col-12 p-0">
      <div class="card p-0 ">
        <div class="card-header list-group-item-warning text-dark">
          <h5 class="text-center mt-1">DAILY SURPRISES!</h5>
        </div>
        <div class="card-body p-2">
          <div class="row">
            <div class="col-12">
              <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
                data-bs-interval="false">
                <div class="carousel-inner">
                  <ng-container *ngFor="let i of dailyOffer, index as n">
                    <div *ngIf="n==0" class="carousel-item active">
                      <a (click)="goToPrdList('dailyOffer',i.id)">
                        <img [src]="'http://localhost:8000/storage/images/offers/'+i.photo" class="d-block w-100" alt="...">
                      </a>
                    </div>
                    <div *ngIf="n>0" class="carousel-item">
                      <a (click)="goToPrdList('dailyOffer',i.id)">
                        <img [src]="'http://localhost:8000/storage/images/offers/'+i.photo" class="d-block w-100" alt="...">
                      </a>
                    </div>
                  </ng-container>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- products list by category -->
  <div *ngIf="prdByCat1.length>5" class="row mt-3">
    <div class="card p-0 ">
      <div class="card-header list-group-item-warning text-dark d-flex justify-content-between">
        <h5 class="text-center mt-1">Sub Category</h5>
        <a (click)="goToPrdList('cat','1')" class="p-1">SEE MORE</a>
      </div>
      <div class="row  px-3 pb-4">
        <div *ngFor="let i of prd1" class="col-lg-2 col-6 px-0 mt-2">
          <a (click)="goToPrdDetails(i.id)" class="text-muted text-decoration-none">
            <div class="card shadow m-2 bg-body rounded h-100 p-1">
              <div style="height: 170px;">
                <img [src]="'http://localhost:8000/storage/images/products/'+i.photo" style="aspect-ratio: 1;  object-fit: contain;" class="card-img-top p-3 h-100"  alt="...">
                </div>
              <hr class="m-0 mb-2">
              <p class="card-title mx-2 text-decoration-none text-dark">{{i.name}}</p>
              <div *ngIf="i.prd_rating>0" class="ratings d-flex flex-row align-items-center px-2 mb-1">
                <div class="d-flex flex-row" style="font-size: 12px;color: rgb(216, 178, 11);">
                  <ng-container *ngFor="let index of [1,2,3,4,5],index as n">
                    <i *ngIf="i.prd_rating>n" class="fa-solid fa-star"></i>
                    <i *ngIf="i.prd_rating<=n" class="fa-regular fa-star"></i>
                  </ng-container>
                </div>
              </div>
              <h6 class="mx-2 mb-0 text-dark text-decoration-none">EGP {{i.price}}</h6>
              <p *ngIf="i.price_before_discount>0" class="mx-2 mb-0 text-muted text-decoration-line-through">EGP
                {{i.price_before_discount}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>




  <!-- products list by category -->
  <div *ngIf="prdByCat2.length>5" class="row mt-3">
    <div class="card p-0 ">
      <div class="card-header list-group-item-warning text-dark d-flex justify-content-between">
        <h5 class="text-center mt-1">Sub Category</h5>
        <a (click)="goToPrdList('cat','2')" class="p-1">SEE MORE</a>
      </div>
      <div class="row  px-3 pb-4">
        <div *ngFor="let i of prd2" class="col-lg-2 col-6 px-0 mt-2">
          <a (click)="goToPrdDetails(i.id)" class="text-muted text-decoration-none">
            <div class="card shadow m-2 bg-body rounded h-100 p-1">
              <div style="height: 170px;">
                <img [src]="'http://localhost:8000/storage/images/products/'+i.photo" style="aspect-ratio: 1;  object-fit: contain;" class="card-img-top p-3 h-100"  alt="...">
                </div>
              <hr class="m-0 mb-2">
              <p class="card-title mx-2 text-decoration-none text-dark">{{i.name}}</p>
              <div *ngIf="i.prd_rating>0" class="ratings d-flex flex-row align-items-center px-2 mb-1">
                <div class="d-flex flex-row" style="font-size: 12px;color: rgb(216, 178, 11);">
                  <ng-container *ngFor="let index of [1,2,3,4,5],index as n">
                    <i *ngIf="i.prd_rating>n" class="fa-solid fa-star"></i>
                    <i *ngIf="i.prd_rating<=n" class="fa-regular fa-star"></i>
                  </ng-container>
                </div>
              </div>
              <h6 class="mx-2 mb-0 text-dark text-decoration-none">EGP {{i.price}}</h6>
              <p *ngIf="i.price_before_discount>0" class="mx-2 mb-0 text-muted text-decoration-line-through">EGP
                {{i.price_before_discount}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>




</div>