
.btn.btn-primary {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 15px; */
  background-image: linear-gradient(to right, #0e7877 0%, #79CBCA 51%, #77A1D3 100%);
  border: none;
  transition: 0.5s;
  background-size: 200% auto;

}


.btn.btn.btn-primary:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

h5,h2{
  color:darkcyan
}
p{
  color: red;
}

.btn.btn-primary:hover .fas.fa-arrow-right {
  transform: translate(15px);
  transition: transform 0.2s ease-in;
}
.amount{
  display: flex;
  justify-content: space-between;
}
.total,.price{
  font-size: 20px;
}
