<div class="container-fluid px-2">
  <h3>Add New Customer</h3>
<form #myForm="ngForm" autocomplete="off" (ngSubmit)="saveCustomer()" >
  <div class="form-group mb-1">
      <label for="exampleInputfirst_name">First Name</label>
      <input #customerFirstName="ngModel" [(ngModel)]="customer.first_name" required
      pattern="^[a-zA-Z]{3,15}$"
      type="text"
          class="form-control" id="exampleInputfirst_name" name="customerFirstName"
          >

      <div [hidden]="customerFirstName.valid || customerFirstName.pristine" class="text-danger">
          <p [hidden]="!customerFirstName.errors?.['required']">Customer First Name Required</p>
          <p [hidden]="!customerFirstName.errors?.['pattern']">Invalid First customer Name</p>
      </div>
  </div>
  <div class="form-group mb-1">
      <label for="exampleInputlast_name">Last Name</label>
      <input #customerLastName="ngModel" [(ngModel)]="customer.last_name" required
      pattern="^[a-zA-Z]{3,15}$"
      type="text"
          class="form-control" id="exampleInputlast_name" name="customerLastName"
          >

      <div [hidden]="customerLastName.valid || customerLastName.pristine" class="text-danger">
          <p [hidden]="!customerLastName.errors?.['required']">customer Last Name Required</p>
          <p [hidden]="!customerLastName.errors?.['pattern']">Invalid Last customer Name</p>
      </div>
  </div>

  <div class="form-outline mb-1">
    <label class="form-label" for="form1Example2">E-Mail</label>
    <input name="customerEmail"[(ngModel)]="customer.email" type="email" id="form1Example2" class="form-control" />
  </div>
  <div class="form-outline mb-1">
    <label class="form-label" for="form1Example2">Phone</label>
    <input #phone="ngModel" name="customerPhone"[(ngModel)]="customer.phone" pattern="^01[0-2,5]{1}[0-9]{8}$" type="Phone" id="form1Example2" class="form-control" />
    <div [hidden]="phone.valid || phone.pristine" class="text-danger">
      <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!phone.errors?.['required']"> Phone Is
        Required</p>
      <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!phone.errors?.['pattern']">Invalid Phone
        Number</p>
    </div>
  </div>

  <div class="form-group mb-1">
    <label for="description">Password</label>
    <input #password="ngModel" type="password"[(ngModel)]="customer.password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}"  class="form-control" id="description" name="password" required>
    <div [hidden]="password.valid || password.pristine" class="text-danger">
      <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!password.errors?.['required']"> Password
        Is Required</p>
      <p class="text-danger ps-1" style="font-size: 14px;" [hidden]="!password.errors?.['pattern']">
        Password must contain at least one capital letter and more than 8 characters</p>
    </div>
  </div>
  <div class="form-group mb-1">
    <label for="description">Confirm Password</label>
    <input #password_confirmation="ngModel" type="password"[(ngModel)]="customer.password_confirmation" class="form-control" id="description" name="Confirmpassword" required>
    <div [hidden]="password_confirmation.valid || password_confirmation.pristine" class="text-danger">
      <p class="text-danger ps-1" style="font-size: 14px;"
        [hidden]="!password_confirmation.errors?.['required']"> Password Is Required</p>
    </div>
    <div *ngIf="password_confirmation.value!=password.value">
      <p class="text-danger ps-1" style="font-size: 14px;">Password Not Matched</p>
    </div>
  </div>
  <div *ngIf="passwordForm.invalid">
    <p *ngIf="passwordForm.hasError('passwordMismatch')">Passwords do not match.</p>
  </div>
  <!-- <div class="form-group mb-1">
    <label for="description">Type</label>
    <input type="Type" [(ngModel)]="customer.type"class="form-control" id="description" name="Type" required>
  </div> -->
  <!-- Submit button -->
  <button type="submit"  [disabled]="!myForm.valid" class="btn btn-primary px-4 me-3 mt-2">Save</button>
  <input type="button" class="btn btn-secondary px-4 mt-2" value="Back" (click)="goBack()">

</form>
</div>
