<h3>Add New Offer</h3>

<div class="containeer-fluid mt-4">
  <form #myform="ngForm" (ngSubmit)="addOffer()">
    <div class="form-group row">
      <label for="Offer" class="col-form-label">Offer Title </label>
      <div>
        <input [(ngModel)]="offer.offer_title" type="text" class="form-control" id="exampleInputEmail1"
          placeholder="Enter Offer title" name="offertitle" pattern="^[A-Z a-z0-9%]{5,80}$" #offer_title="ngModel" required>
      </div>
      <div [hidden]="offer_title.valid || offer_title.pristine" class="text-danger">
        <p [hidden]="!offer_title.errors?.['required']">offer title Required</p>
        <p [hidden]="!offer_title.errors?.['pattern']">Invalid offer title </p>
    </div>
    </div>

    <div class="form-group row">
      <label for="price" class="col-form-label">Discount Percentage</label>
      <div>
        <input #discount_percent="ngModel" name="discont_percent" [(ngModel)]="offer.discont_percent" type="text" class="form-control" id="discount"
          placeholder="Discount percentage" pattern="[0-9]{1,2}$"  required>
      </div>
      <div [hidden]="discount_percent.valid || discount_percent.pristine" class="text-danger">
        <p [hidden]="!discount_percent.errors?.['required']">Discount Percentage Required</p>
        <p [hidden]="!discount_percent.errors?.['pattern']">Invalid Discount </p>
    </div>
    </div>

    <div class="form-group row">
      <label for="type" class="col-form-label">Type</label>
      <div>
        <select name="prdncat" [(ngModel)]="offer.type" #type="ngModel" class="form-select" required>

          <option value="deals">Deals</option>
          <option value="gift">Gift</option>
          <option value="daily">Daily</option>

        </select>
      </div>
      <div [hidden]="discount_percent.valid || discount_percent.pristine" class="text-danger">
        <p [hidden]="!discount_percent.errors?.['required']">Discount Percentage Required</p>
    </div>

    </div>


    <div class="form-group row">
      <label for="type" class="col-form-label">Photo</label>
      <div>
        <input class="form-control" type="file" id="formFileMultiple" (change)="onFileSelected($event)">
      </div>
    </div>

    <button [disabled]="!myform.valid" type="submit" class="btn btn-primary d-inline px-3 mt-3 me-3">Save</button>
    <button [routerLink]="['/admin/offers']" class="btn btn-secondary text-white px-3 mt-3">Back</button>

  </form>
</div>