
<table class="table table-bordered ">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Brand</th>
            <th>Price Before Discount</th>
            <!-- <th>photo</th> -->
            <th>Price</th>
            <th>Add OR Remove offer</th>
            
            
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let pro of allproducts;" >
           
         <tr> 
            <th class="  text-danger">{{pro.name}}</th>
            <td class="  text-primary"> {{pro.brand}}</td>
            <td class="  text-primary"> {{pro.price_before_discount}}</td>
            <td class="  text-primary"> {{pro.price}}</td>
            <td>
           
             <button class="btn btn-primary" *ngIf="check(pro.id) else elseblock" (click)="addproductstooffer(pro.id,offer_id)"   [routerLink]="['/addproduct/offer/',offer_id]" >ADD</button>
            
                <ng-template #elseblock>
                <button class="btn btn-danger"  (click)="deleteProductFromffer(pro.id)"   [routerLink]="['/addproduct/offer/',offer_id]" >Remove</button>
                </ng-template>
           
            </td>

        </tr>
    </ng-container>
    </tbody>