
<section class="vh-100 " >
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6 d-none d-sm-block">
        <img src="../../../assets/images/5464026.jpg"
          class="img-fluid" alt="site image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

        <div class="signup-form  ">
          <form #myform="ngForm" (ngSubmit)="onSubmit()" >
          <h2>Send Reset Email</h2>

              <div class="form-group">
                <input type="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" pattern="^[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*@[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*$" name="email" placeholder="Email" required="required">
              </div>
              <div [hidden]="email.valid || email.pristine" class="text-danger">
                <p  class="alert alert-danger"[hidden]="!email.errors?.['required']">please,email is required</p>
                <p class="alert alert-danger" [hidden]="!email.errors?.['pattern']">Invalid email</p>
            </div>


              <div class="alert alert-danger" [hidden]="!wrongCredentials">
                {{wrongCredentials}}
              </div>

          <div class="form-group">
                  <button type="submit" [disabled]="!myform.valid" class="btn btn-info btn-lg btn-block">Reset password</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    </div>
</section>
