
<div class="container">

  <div class="row">

    <div class="col-4">
         <button class="btn btn-primary w-100" (click)="addimg()"> Add Image </button>
    </div>

    <div class="col-8">
       <ng-container *ngIf="showForm">
         <form (ngSubmit)="uploadImg()">
             <input type="file" (change)="imgFile($event)" style="width: 500px; border: 1px solid black;">
             <button type="submit" class="btn btn-primary ml-2" style="width:100px">Add</button>

         </form>
       </ng-container>
      </div>
    </div>
</div>
<p *ngIf="message" class="h4 text-center mt-5">{{message}}</p>
<table class="w-100 mt-3 table table-bordered table-hover table-striped text-center" *ngIf="showTable">
  <thead>
    <tr style="text-transform:capitalize;color: #1f8291d4; " class="bg-white">
      <th>No</th>
      <th>Image</th>
      <th>Delete</th>
    </tr>
  </thead>
 <tbody>
  <tr *ngFor="let photo of photos; index as i">
    <td>{{i+1}}</td>
    <td><img [src]="'http://localhost:8000/storage/images/gallery/'+photo.path" width="300"></td>
    <td><button class="btn btn-danger m-2" (click)="deleteGallery(photo.id)"><i class="fa fa-trash"></i></button></td>

  </tr>
  </tbody>
</table>
