<h1 class="d-flex justify-content-center">Edit offer</h1>
<div class="containeer w-100 px-5  mt-3  ">


<form #myform="ngForm" (ngSubmit)="saveEditedProduct()">
    
    <div class="form-group">
        <label for="exampleInputEmail1">Offer Title </label>
        <input [(ngModel)]="offer.offer_title" type="text" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Enter Name" name="offertitle">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Discount percent</label>
        <input [(ngModel)]="offer.discont_percent" name="discount" type="number" class="form-control"
            id="exampleInputPassword1">
    </div>

    <label for="exampleInputPassword1">type</label>
   
    <select class="form-select m-2" [(ngModel)]="offer.type"  name="type">

        <option disabled>select one</option>
        <option value="daily">Daily</option>
        <option value="gift">Gift</option>

    </select>


    <button [disabled]="!myform.valid" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>