<div class="aboutus-section ">
    <div class="container ">
        <div class="row bg">
            <div class=" col-sm-6 col-xs-12">
                <div class="aboutus mt-5">
                  <h6> -Life Market-</h6>
                    <h1 class="aboutus-title">About Us</h1>
                    <p class="aboutus-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                    <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                </div>
            </div>
            <div class=" col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                  <img
                  src="https://i.ibb.co/FDNkcCf/clothes.jpg"
                  alt=""
                  width="700"
                  height="742"
                />
              </div>
            </div>
        </div>
    </div>
</div>
