<div class="container mt-0 mb-5 pb-4 p-0 px-0">

  <div class="row">
    <div class="col-12 d-lg-none d-block">
      <div class="d-flex justify-content-center d-lg-inline">
        <img src="../../../assets/about-img.png" class="w-75" alt="">
      </div>
    </div>
    <div class="col-12 col-lg-6 px-2">
      <div class=" p-3 mt-5 mb-0 ">
        <h1 class="fs-1 text-center text-lg-start" style="color: darkcyan;">ABOUT US</h1>
        <p class="mt-4 text-center text-lg-start">We are energetic about discovering things that transcend the
          commonplace; that we think will
          get your attention and capture it. In addition, to convey these to you wherever you are and at whatever point
          you believe you have sufficient energy to enjoy a bit.</p>
        <p class="text-center text-lg-start">So we made an organization to bring you items you will become hopelessly
          enamored with; to allow you to make
          your very own space, to take advantage of those concealed abilities and make your own looks and accumulations;
          to enable you to impart your manifestations to companions to understand that second conclusion, to move or be
          enlivened; and to enable you to shop such that you will discover hypnotizing.</p>
        <div class="d-flex justify-content-center d-lg-inline">
          <a [routerLink]="['/main/home']" class="btn btn-primary mt-3 px-3" style="background-color: darkcyan;">Go Back
            To
            Home</a>
        </div>
      </div>
    </div>
    <div class="col-5 d-none d-lg-block">
      <img src="../../../assets/about-img.png" alt="">
    </div>

  </div>

</div>