<div class="container ">
  <h3>Create Category</h3>
  <form #catUpdate (ngSubmit)="createCat()" method="post" enctype="multipart/form-data">
    <div class="form-group mt-3">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="cat.name" placeholder="category name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]=cat.description
        placeholder="category description"></textarea>
    </div>
    <div class="form-group">
      <label for="photo">Photo</label>
      <input type="file" (change)=" uploadimg($event)" class="form-control" id="photo" name="photo" (change)="uploadimg($event)">
    </div>
    <button type="submit" class="btn btn-primary px-3 mt-3 me-3">Save</button>
    <button [routerLink]="['/admin/categories-management']" class="btn btn-secondary text-white px-3 mt-3">Back</button>

  </form>
</div>
