<h5 class="mt-3 ">Account Overview</h5>
<hr style="color:gray">
<div class="row p-2">
  <div class="col-12  col-lg-6">
    <div class="card h-100">
      <div class="card-body">
        <h6>ACCOUNT DETAILS</h6>
        <hr style="color:gray">
        <p>Name: {{ user.first_name }} {{user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone }}</p>

      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div *ngIf="show" class="card-body">
        <h6>ADDRESS DETAILS</h6>
        <hr style="color:gray">
        <p> Street : {{Addressres[0].street}}</p>
        <p>City : {{Addressres[0].city}}</p>
        <p>Region : {{Addressres[0].governorate}}</p>
        <p>Zip_code : {{Addressres[0].zip_code}}</p>
        <br>
        <a routerLink="/profile/updateaddress" routerLinkActive="active">CHANGE DEFAULT ADDRESS</a>
      </div>
      <div *ngIf="hide" class="card-body">
        <h6>ADDRESS DETAILS</h6>
        <hr style="color:gray">
        <p>No default address found.</p>
        <br>
        <button routerLink="/profile/address" routerLinkActive="active">ADD DEFAULT ADDRESS</button>
      </div>
    </div>
  </div>

</div>