.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
 div a{
    text-decoration: none; 
     
 }
 div a:hover{
    background-color: antiquewhite;
 }
 .bg-c1{
   background:darkcyan;
}
 