<h5 class="mt-4 ">Account Overview</h5>
<hr style="color:gray">
<div class="row ">
    <div class="col-4 card m-5">
        <div class="card-body">
            <h6>ACCOUNT DETAILS</h6>
            <hr style="color:gray">
            <p>Name:Naglaa Hamdi</p>
            <p>Email:Naglaahamdi6@gmail.com</p>
            <p>phone:01110870068</p>

        </div>
    </div>
    <div class="col-4 card m-5">
        <div class="card-body">
            <h6>ADDRESS DETAILS</h6>
            <hr style="color:gray">
            <p>No default shipping address available.</p>
            <br>
            <a routerLink="/profile/address" routerLinkActive="active">ADD DEFAULT ADDRESS</a>
        </div>
    </div>
</div>